body {
    background-color: #f5f5dd;
}

.s1 {
    width: 120px;
    height: 120px;
    color: black;
    margin: 30px;
    background-color: rgb(0, 0, 0);
}

.s2 {
    width: 120px;
    height: 120px;
    color: black;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.849);
}

.s3 {
    width: 120px;
    height: 120px;
    color: black;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.603);
}

.s4 {
    width: 120px;
    height: 120px;
    color: black;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.308);
}